<!DOCTYPE html>
<html>
<link rel="icon" href="{{url_for('static' , filename = 'img/icon.png')}}">
<title>covid-19 detection </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static' , filename = 'css/w3.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{url_for('static' , filename = 'css/Css.css')}}">
<style>
    .bgimg {
        background-image: url("{{url_for('static' , filename = 'img/cc.jpg')}}");
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <a href="#"><img src="{{url_for('static' , filename = 'img/icon.png')}}" width="70px"></a>
        </div>
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">COVID-19 DETECTION
            </h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">Detect the patient case</p>
            <button onclick="document.location='/testt'" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"> Discover </button>
 </div>
        <div class="w3-display-bottommiddle w3-padding-large">
            <p class="by"> Powered by <a >Tariq Ahmed</a></p>
        </div>
    </div>

</body>

</html>